/* .flex-container{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    height: 600px;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    justify-content: center;
}

.flex-container > div {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
} */
/* 
div{
    background-color: aqua;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

@media  (max-width:500px) {
    div{
        background-color: black
    };
} */

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: aqua;
    padding: 10px;
    column-gap: 50px;
    /* grid-template-columns: 80px 200px auto 40PX;
    grid-template-rows: 80px 80px 80px; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    /* justify-content: space-evenly;
    justify-content: center; */
}

.grid-container >div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item1{
    grid-row-start: 1;
    grid-row-end: 3;
}